# Folders # 
###########
**/__pycache__
ConvolutionalNeuralNetworks/TransferLearningWithMobileNet/datasets
ConvolutionalNeuralNetworks/ImageSegmentationWithU-Net/datasets
SequenceModels/OperationOnWordVectors-Debiasing/data